<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Styles.Render("~/Content/social/css")
    @System.Web.Optimization.Styles.Render("~/Content/Dist/css")
    @System.Web.Optimization.Styles.Render("~/Content/metisMenu/css")
    @System.Web.Optimization.Styles.Render("~/Content/morris/css")
    @System.Web.Optimization.Styles.Render("~/Content/font-awesome/css")

    @System.Web.Optimization.Styles.Render("~/Content/sharpen/css")

    @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")

    @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
    new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
    new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
    new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
    new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker }
)
    @Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionSuite = ExtensionSuite.Chart },
    new Script { ExtensionSuite = ExtensionSuite.Report },
    new Script { ExtensionSuite = ExtensionSuite.Scheduler },
    new Script { ExtensionSuite = ExtensionSuite.TreeList },
    new Script { ExtensionSuite = ExtensionSuite.RichEdit },
    new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
    new Script { ExtensionSuite = ExtensionSuite.SpellChecker }
    )
</head>
<body>

        @RenderBody()


  
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
    @System.Web.Optimization.Scripts.Render("~/bundles/morris")
    @System.Web.Optimization.Scripts.Render("~/bundles/metisMenu")
    @System.Web.Optimization.Scripts.Render("~/bundles/admin")

    @System.Web.Optimization.Scripts.Render("~/bundles/sharpen")

    @RenderSection("scripts", required: false)
</body>
</html>
