@model inventarioImportaciones.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "¿Olvido su Contraseña?";
    Html.EnableClientValidation();
}
<body class="page-login">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="loginContentWrap">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1 class="pageTitle">@Resourses.Global.RecuperarCuenta</h1>
                    <p>@Resourses.Global.MensajeRecuperarCuenta</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                    
                    @using (Html.BeginForm("Forgotpassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = " data-parsley-validate", role = "form" }))
                        {
                        @Html.AntiForgeryToken()
                       <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control simple-form-control", @placeholder = @Resourses.Global.MensajeRecuperarCuenta })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "parsley-errors-list filled" })
                            <i class="fa fa-envelope"></i>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-orange submit">@Resourses.Global.EnviarPassword</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    
    <div class="visible-xs visible-sm extendedChecker"></div>
</body>